.column {
  flex: 1;
  margin-right: 20px;
  background-color: #b3d7ed; /* Light blue background color for columns */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.column-title {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure the title is above the cards */
}

.collapsed-column {
  overflow: hidden;
  max-height: 60px; /* Adjust as needed */
  transition: max-height 1s ease-out;
}

.expanded-column {
  overflow: hidden;
  max-height: none;
  transition: max-height 1s ease-in;
}

.collapsed-card {
  border: 1px solid #ccc; /* Keep the existing border color */
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 100px; /* Adjust as needed */
  transition: max-height 1s ease-out;
  background-color: #b3d7ed; /* Light blue background color for cards */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.expanded-card {
  border: 1px solid #ccc; /* Keep the existing border color */
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: none;
  transition: max-height 1s ease-in;
  background-color: #b3d7ed; /* Light blue background color for cards */
  border-radius: 10px; /* Optional: Add border radius for rounded corners */
}

.collapsed-details {
  display: none;
  transition: opacity 1s ease-out;
}

.expanded-details {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in;
}
